body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #444444;
  color: #F0F6FF;
  margin:0;
}

h1 {
  color: #A3D295;
}

div.footer {
  width:100%;
  margin: 25px auto;
  text-align:center;
  color:#F0F6FF;
}

div.content {
  background: #212121;
  width:551px;
  padding:5px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
}

div.message {
  margin: 0 auto;
  font-size: 16px;
}

div.hint {
  float:left;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 20px;
}

div.colorbox {
  float:left;
  width:15px;
  height:22px;
  /* border-radius */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

div.userContainer {
  width:185px;
  margin: 0 auto;
}

div.userList {
  float:left;
}

div.userBox {
  float:left;
  color:#000000;
  margin-left:2px;
  margin-right:1px;
  margin-top:2px;
  margin-bottom:1px;
  width:12px;
  height:12px;
  /* border-radius */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

form {
  margin-bottom: 40px;
}

input {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
  text-align: center;
  margin: 0 auto;
  border-spacing:1;
}

td.letterBox {
  width: 20px;
  padding: 0;
  text-align: center;
}

input.username {
  float: left;
  height:16px;
  margin-left: 12px;
  width: 150px;
}

input.letterBox {
  width: 20px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border: 0;
}

input.letterBox.correct {
  background-color: transparent;
  color: #A3D295;
}

input.message {
  width: 92%;
  margin: 10px;
}

input.submit {
  float:right;
  color:#F0F6FF;
  font-weight: bold;
  padding-top:3px;
  margin-top: 6px;
  margin-right: 20px;
  border-width: 1px;
  background: #999999;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
  border-bottom-color: #777777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #777777;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #777777;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #777777;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

input.submit:enabled:hover {
  background: #A3D295;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

input.submit.burn {
  background: #990000;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

input.submit.burn:hover {
  background: #B30000;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
}

a {
  color: #A3D295;
  text-decoration:none;
}

a:hover {
  color: #C3F2B5;
  text-decoration:underline;
}

a.titleLink {
  color: #A3D295;
  text-decoration:none;
}

a.titleLink:hover {
  color: #C3F2B5;
}

p {
  text-align:left;
  margin:10px;
}

@media only screen and (max-device-width: 800px) {
  div.content {
    width: 95%;
    margin-top: 2.5%;
  }
}