body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 70px;
  font-size: 13px;
  background: #444444;
  color: #F0F6FF;
}

h1 {
	/*color: #73FF8C;*/
  color: #A3D295;
}

div.content {
  background: #212121;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
}

div.message {
  margin: 10px;
  font-size: 16px;
}

div.hint {
  float:left;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 20px;
}

form {
  margin-bottom: 40px;
}

input {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table {
  text-align: center;
}

td.letterBox {
  width: 18px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}

input.letterBox {
  width: 18px;
  /*padding-left: 1px;
  padding-right: 1px;*/
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border: 0;
}

input.disabled {
  background-color: rgba(0,0,0,0);
  color: #A3D295;
}

input.letterBox.correct {
  background-color: rgba(0,0,0,0);
  color: #A3D295;
}

input.message {
  width: 92%;
  margin: 10px;
}

input.submit {
  float:right;
  color:#F0F6FF;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 20px;
  border-width: 1px;
  padding: 2px 7px;
  background: #999999;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
  border-bottom-color: #777777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #777777;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #777777;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #777777;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

input.submit:hover {
  background: #A3D295;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
}

input.submit.burn {
  background: #990000;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
}

input.submit.burn:hover {
  background: #B30000;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
}