body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 100px;
  font-size: 13px;
  background: #444444;
  color: #F0F6FF;
}

h1 {
	/*color: #73FF8C;*/
  color: #A3D295;
}

div.content {
  background: #212121;
  margin: 0 auto;
  padding: 5px;
  width: 300px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
  box-shadow: rgba(0,0,0,0.2) 0px 2px 4px;
}

form {
  margin-bottom: 40px;
}

input.submit {
  float:right;
  color:#F0F6FF;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 20px;
  border-width: 1px;
  padding: 2px 7px;
  background: #999999;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
  border-bottom-color: #777777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #777777;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #777777;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #777777;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
}

input.submit:hover {
  background: #A3D295;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.35));
}


textarea,
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

.expandingArea {
  position: relative;
  border: 1px solid #777777;
  background: #ccc;
}

.expandingArea > textarea,
.expandingArea > pre {
  padding: 5px;
  background: transparent;
  font: 400 13px/16px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}
.expandingArea > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
}
.expandingArea.active > textarea {
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
}
.expandingArea > pre {
  display: none;
}
.expandingArea.active > pre {
  display: block;
  /* Hide the text; just using it for sizing */
  visibility: hidden;
}